<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.spring.adoption.possible.vo.AdoptionPossibleVO" alias="adoptionPossible"/>
		<typeAlias type="com.spring.map.vo.MapVO" alias="center"/>
		<typeAlias type="com.spring.animal.vo.AnimalVO" alias="animal"/>
		<typeAlias type="com.spring.adoption.vo.AdoptionVO" alias="adoption"/>
	</typeAliases>
</configuration>